---

---

<header class="container mx-auto text-2xl">
  <nav class="flex justify-between py-6">
    <h1 class="">logo</h1>
    <div class="w-1/2">
      <ul class="flex justify-evenly">
        <li><a href="">item</a></li>
        <li><a href="">item</a></li>
        <li><a href="">item</a></li>
        <li><a href="">item</a></li>
        <li><a href="">item</a></li>
      </ul>
    </div>
  </nav>
</header>
